.entire {
    margin: 20px;
}

.title {
  position: absolute;
  bottom: 298px;
  left: 110px;
  color: #3c3b88;
  font-size: 26px;
}

.card {
    background-image: url('../../images/border.png');
    background-size: 150px;
    width: 150px;
    position: relative;
    z-index: 5;
    margin-top: 265px;
    right: 5px;
    padding: 0px 0px 15px 0px;
}

.content {
    font-size: 8px;
    color: black;
    position: relative;
   z-index: 3;
   top: 10px;
   /* text-align: right; */
}

.earn {
    /* text-align: center; */
    position: relative;
    margin-left: 70px;
    bottom: 3px;
    background-color: #9CFF83;
    width: 55px;
    height: 20px;
    border-radius: 10px;
    padding: 0 5px 1px 1px;
   
}

.earn ul {
    list-style: none;
}

.earn ul li::before {
content: "\2022";
color: #00D248;
font-size: 13px; 
margin-left: -21px;
display: inline;
/* width: 50px; */
}



