.entire {
    margin: 20px;
}

.title {
  position: absolute;
  bottom: 298px;
  left: 110px;
  color: #3c3b88;
  font-size: 26px;
}

.card {
    background-image: url('../../images/border.png');
    background-size: 150px;
    width: 150px;
    position: relative;
    z-index: 5;
    margin-top: 265px;
    right: 5px;
    padding: 0px 0px 15px 0px;
}

.content {
    font-size: 8px;
    color: black;
    position: relative;
   z-index: 3;
   top: 10px;
   /* text-align: right; */
}

.image {
background-image: url("../../images/earnButton.png");
background-size: 60px;
width: 60px;
height: 10px;
position: absolute;
left: 65px;
top: -5px;
}



