.category {
  position: absolute;
  bottom: -10px;
  left: 10%;
  color: #3c3b88;
  font-size: 40px;
  font-weight: bold;
}

.engineering {
  background-image: url("../../images/engineering.png");
  background-size: 190px;
  width: 190px;
  height: 20.5%;
  position: absolute;
  bottom: -21%;
  left: 20%;
  cursor: pointer;
}

.science {
  background-image: url("../../images/science.png");
  background-size: 190px;
  width: 190px;
  height: 20.8%;
  position: absolute;
  bottom: -21%;
  left: 35%;
  cursor: pointer;
}

.innovation {
  background-image: url("../../images/engineering.png");
  background-size: 190px;
  width: 190px;
  height: 20.5%;
  position: absolute;
  bottom: -21%;
  left: 49%;
  cursor: pointer;
}

.programming {
  background-image: url("../../images/programming1.png");
  background-size: 190px;
  width: 190px;
  height: 20.5%;
  position: absolute;
  bottom: -21%;
  right: 27%;
  cursor: pointer;
}

.programming2 {
  background-image: url("../../images/programming2.png");
  background-size: 130px;
  width: 130px;
  height: 83px;
  position: absolute;
  bottom: -17%;
  right: 29%;
  cursor: pointer;
}
