.category {
  position: absolute;
  bottom: -25%;
  left: 10%;
  color: #3c3b88;
  font-size: 26px;
  font-weight: bold;
}

.engineering {
  background-image: url("../../images/engineering.png");
  background-size: 150px;
  width: 150px;
  height: 24.3%;
  position: absolute;
  bottom: -50%;
  left: 17%;
  cursor: pointer;
}

.science {
  background-image: url("../../images/science.png");
  background-size: 150px;
  width: 150px;
  height: 24.5%;
  position: absolute;
  bottom: -50%;
  left: 33%;
  cursor: pointer;
}

.innovation {
  background-image: url("../../images/engineering.png");
  background-size: 150px;
  width: 150px;
  height: 24.3%;
  position: absolute;
  bottom: -50%;
  left: 49%;
  cursor: pointer;
}

.programming {
  background-image: url("../../images/programming1.png");
  background-size: 150px;
  width: 150px;
  height: 24.3%;
  position: absolute;
  bottom: -50%;
  left: 820px;
  cursor: pointer;
}

.programming2 {
  background-image: url("../../images/programming2.png");
  background-size: 120px;
  width: 120px;
  height: 77px;
  position: absolute;
  bottom: -300px;
  left: 835px;
  cursor: pointer;
}
