.mainDiv {
  position: absolute;
  top: 14%;
  left: 7%;
  height: 1200px;
  width: 85%;
  background-color: white;
  border-radius: 20px;
}

.rectangle {
  width: 100%;
  height: 18%;
  position: absolute;
  top: 2%;
  background: linear-gradient(
    90deg,
    hsla(316, 100%, 50%, 1) 33%,
    hsla(47, 100%, 50%, 1) 88%
  );
}

.butterfly {
  width: 175px;
  position: absolute;
  left: 22.5%;
  top: 3px;
}

.world {
  width: 240px;
  position: absolute;
  top: -9%;
  left: 4%;
}

.filler {
  position: absolute;
  width: 28px;
  left: 18.5%;
  top: 38%;
}

.smallFiller {
  position: absolute;
  width: 6px;
  left: 18%;
  top: 95%;
}

.rectP {
  color: white;
  font-weight: bold;
  position: absolute;
  left: 36%;
  top: -10%;
  font-size: 50px;
}

.smallText {
  color: white;
  font-style: italic;
  font-size: 22px;
  position: absolute;
  right: 15%;
  top: 67%;
}

.group {
  width: 250px;
  position: absolute;
  left: 78%;
  top: 3%;
}
