@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

.App {
  background: linear-gradient(
    90deg,
    hsla(316, 100%, 50%, 1) 33%,
    hsla(47, 100%, 50%, 1) 88%
  );
  height: 980px;
  font-family: "Red Hat Display";
}
