.App {
  background: linear-gradient(
    90deg,
    hsla(316, 100%, 50%, 1) 33%,
    hsla(47, 100%, 50%, 1) 88%
  );
  height: 639px;
}

/* nav */
nav {
  background-color: white;
  height: 50px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0 400px;
}

nav ul li {
  list-style: none;
  font-size: 14px;
  padding: 5px;
}

.service {
padding-left: 420px;
}

.events {
  padding-left: 40px;
}

.learn {
  padding-left: 30px;
}

.join {
  padding-left: 30px;
}

.social {
  width: 150px;
  position: absolute;
  top: 25px;
  left: 220px;
}
.searchCircle {
  width: 40px;
  position: absolute;
  top: 16px;
  right: 110px;
}

.search {
  position: absolute;
  width: 20px;
  right: 119px;
  top: 20px;
}

.wallet {
  position: absolute;
  top: 15px;
  left: 540px;
  padding: 3px 5px 5px 5px;
  width: 120px;
}

.logoShape {
  width: 90px;
  position: absolute;
  bottom: 525px;
  left: 25px;

}

.logo{
  position: absolute;
  bottom: 530px;
  left: 23px;
  width: 120px;
  z-index: 1;
}

/* main div */

.mainDiv {
  position: absolute;
  top: 80px;
  left: 20px;
  height: 550px;
  width: 1227px;
  background-color: white;
  border-radius: 20px;
}

.rectangle {
  width: 100%;
  height: 25%;
  position: absolute;
  top: 15px;
  background: linear-gradient(
    90deg,
    hsla(316, 100%, 50%, 1) 33%,
    hsla(47, 100%, 50%, 1) 88%
  );
}

