.mainDiv2 {
  position: absolute;
  top: 13%;
  left: 7%;
  height: 135%;
  width: 85%;
  background-color: white;
  border-radius: 20px;
}

.rectangle2 {
  width: 100%;
  height: 23%;
  position: absolute;
  top: 1.5%;
  background: linear-gradient(
    90deg,
    hsla(316, 100%, 50%, 1) 33%,
    hsla(47, 100%, 50%, 1) 88%
  );
}

.bulb2 {
  width: 130px;
  position: absolute;
  left: 28%;
}

.world2 {
  width: 230px;
  position: absolute;
  top: -2%;
  left: 3%;
}

.filler2 {
  position: absolute;
  width: 22px;
  left: 24%;
  top: 43%;
}

.smallFiller2 {
  position: absolute;
  width: 6px;
  left: 24%;
  top: 86%;
}

.rectPSt {
  color: white;
  font-weight: bold;
  position: absolute;
  left: 40%;
  top: 8%;
  font-size: 45px;
}

.groupSt {
  width: 250px;
  position: absolute;
  left: 74%;
  top: 3%;
}
