/* nav */
nav {
  background-color: white;
  height: 6%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0 30%;
  margin-left: 30%;
}

nav ul li {
  list-style: none;
  font-size: 18px;
  padding: 20px;
}

nav ul a {
  text-decoration: none;
  color: black;
}

.service {
  width: 72px;
}

.events {
  padding-left: 25%;
  cursor: pointer;
}

.learn {
  padding-left: 25%;
  cursor: pointer;
}

.home {
  padding-left: 55%;
}

.social {
  width: 220px;
  position: absolute;
  top: 4%;
  left: 22%;
}

.searchCircle {
  width: 60px;
  position: absolute;
  top: 2%;
  right: 11%;
}

.search {
  position: absolute;
  width: 27px;
  right: 11.7%;
  top: 3%;
}

.wallet {
  position: absolute;
  top: 2%;
  left: 43%;
  padding: 5px;
  width: 170px;
}

.logoShape {
  width: 120px;
  position: absolute;
  top: -10%;
  left: 5%;
}

.logo {
  position: absolute;
  top: -9%;
  left: 4.5%;
  width: 160px;
  z-index: 2;
}
